<% if current_user %>

  <% in_folders, folders_for_selection = @document.folders_for_user(current_user) %>

  <% unless in_folders.empty? && folders_for_selection.empty? %>
    <div class="panel panel-default">
      <div class="panel-heading"> Folders </div>

      <% unless folders_for_selection.empty? %>
        <div class="panel-body">
          <% item = Blacklight::Folders::FolderItem.new(document: @document) %>
          <%= form_for item, url: blacklight_folders.folder_items_path do |f| %>

            <%= f.hidden_field(:document_id) %>

            <div class="field">
              <%= f.select :folder_id, options_from_collection_for_select(folders_for_selection, :id, :name, item.folder_id), prompt: 'Select a Folder' %>
            </div>

            <div class="actions">
              <%= f.submit 'Add to Folder' %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% unless in_folders.empty? %>
        <div class="panel-body">
          This item is contained in:
          <ul>
            <% in_folders.each do |folder| %>
              <li> <%= link_to folder.name, blacklight_folders.folder_path(folder) %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>
