        <tr>
          <td>
            <%= link_to folder.name, blacklight_folders.folder_path(folder) %>
            &nbsp;
            (<%= pluralize(folder.items.count, 'item') %>)
            &nbsp; &middot; &nbsp;
            <%= human_friendly_visibility(folder.visibility) %>
          </td>

          <td>
            <%= link_to 'Edit', blacklight_folders.edit_folder_path(folder), method: :get, class: 'btn btn-default' %>
            <%= link_to 'Delete', blacklight_folders.folder_path(folder), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this folder and all its contents?" } %> </td>
        </tr>

