        <tr>
          <td>
            <%= link_to folder.name, blacklight_folders.folder_path(folder) %>
          </td>
          <td>
            <%= pluralize(folder.items.count, Blacklight::Folders::FolderItem.model_name.human.downcase) %>
          </td>
          <td>
            <%= human_friendly_visibility(folder.visibility) %>
          </td>
          <td>
            <span title="<%= folder.created_at %>"><%= time_ago_in_words folder.created_at %> <%= t('.ago') %></span>
          </td>
          <td>
            <span title="<%= folder.updated_at %>"><%= time_ago_in_words folder.updated_at %> <%= t('.ago') %></span>
          </td>

          <td>
            <%= link_to 'Edit', blacklight_folders.edit_folder_path(folder), method: :get, class: 'btn btn-default' %>
            <%= link_to 'Delete', blacklight_folders.folder_path(folder), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this folder and all its contents?" } %> </td>
        </tr>

