<div class="document">
  <%= folder_item.position %>.
  <%= folder_item_counter %>
  <% doc = docs[folder_item_counter] %>

  <% link_title = doc[document_show_link_field(doc).to_s] %>
  <%= link_to link_title, main_app.catalog_path(doc['id']) %>

  <%= button_to 'Remove', folder_item_path(folder_item), method: :delete, class: 'btn btn-danger' %>

  <%= render 'index_default', document: doc %>
</div>
