        <tr>
          <td>
            <%= can?(:show, folder) ? link_to(folder.name, blacklight_folders.folder_path(folder)) : folder.name %>
          </td>
          <td>
            <%= pluralize(folder.items.count, Blacklight::Folders::FolderItem.model_name.human.downcase) %>
          </td>
          <td>
            <%= human_friendly_visibility(folder.visibility) %>
          </td>
          <td>
            <span title="<%= folder.created_at %>"><%= t('.ago', time: time_ago_in_words(folder.created_at)) %></span>
          </td>
          <td>
            <span title="<%= folder.updated_at %>"><%= t('.ago', time: time_ago_in_words(folder.updated_at)) %></span>
          </td>

          <td>
            <%= link_to 'Edit', blacklight_folders.edit_folder_path(folder), method: :get, class: 'btn btn-default' if can? :edit, folder %>
            <%= link_to 'Delete', blacklight_folders.folder_path(folder), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this folder and all its contents?" } if can? :destroy, folder %> </td>
        </tr>

