<%= form_for @folder, html: { role: 'form' } do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <p><strong>Who can see the contents of this folder?</strong></p>
    <% @folder.visibility ||= Blacklight::Folders::Folder::PRIVATE %>

    <div class="radio">
      <label>
        <%= f.radio_button(:visibility, Blacklight::Folders::Folder::PUBLIC) %>
        <%= human_friendly_visibility(Blacklight::Folders::Folder::PUBLIC) %>
      </label>
    </div>

    <div class="radio">
      <label>
        <%= f.radio_button(:visibility, Blacklight::Folders::Folder::PRIVATE) %>
        <%= human_friendly_visibility(Blacklight::Folders::Folder::PRIVATE) %>
      </label>
    </div>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
