<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :visibility, 'Who can see the contents of this folder?' %><br>
    <% @folder.visibility ||= Blacklight::Folders::Folder::PRIVATE %>

    <%= f.radio_button(:visibility, Blacklight::Folders::Folder::PUBLIC) %>
    Anyone
    <br />

    <%= f.radio_button(:visibility, Blacklight::Folders::Folder::PRIVATE) %>
    Only me
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
