<div class="folder-index">
  <div class="row">
    <h1 class="col-lg-8">Folders <small>(<%= @folders.size %> total)</small></h1>

    <%= form_tag blacklight_folders.folders_path, method: :get, class:"col-lg-4", id: "sort-tool" do %>
      <%= select_tag 'order_by', options_for_select({ 'Name' => 'name', 'Size' => 'number_of_members', 'Created' => 'created_at', 'Updated' => 'updated_at' }, params[:order_by]), prompt: "Sort by..." %>
    <% end %>
  </div>
  <table id="folders" class="table">
    <thead>
      <tr>
        <th><%= t('.table.headers.name') %></th>
        <th><%= t('.table.headers.size') %></th>
        <th><%= t('.table.headers.visibility') %></th>
        <th><%= t('.table.headers.created') %></th>
        <th><%= t('.table.headers.updated') %></th>
        <th><%= t('.table.headers.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'folder', collection: @folders %>
    </tbody>
  </table>

  <% if can? :create, Blacklight::Folders::Folder %>
    <div class='actions'>
      <div class='primary-actions'>
        <%= link_to action_label(Blacklight::Folders::Folder.new), blacklight_folders.new_folder_path, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
