<div class="folder-view">
  <p id="notice"><%= notice %></p>

  <h1> <%= @folder.name %> </h1>
  <p> Visibility: <%= @folder.visibility %> </p>

  <%= link_to 'Edit Folder', edit_folder_path(@folder) %>
  <%= button_to 'Delete this Folder', folder_path(@folder), method: :delete, data: { confirm: "Are you sure you want to delete this folder?" } %>
  <br />

  <h3> Contents: </h3>

  <div id="documents">
    <% docs = @folder.documents %>
    <% @folder.items.each_with_index do |item, i| %>
      <% doc = docs[i] %>
      <%= render partial: 'folder_item', locals: { doc: doc, item: item } %>
    <% end %>
  </div>
</div>
