<div class="folder-view">
  <p id="notice"><%= notice %></p>

  <% if can? :edit, @folder %>
    <div class="primary-actions">
      <%= link_to edit_folder_path(@folder), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-pencil"></span> <%= action_label(@folder, :edit_long) %>
      <% end %>
     </div>
  <% end %>
  <h1><%= @folder.name %></h1>
  <div>
    <span class="owner-label"><%= t("blacklight/folders/folder.user", scope: "helpers.label") %>:</span> <span class="owner"><%= @folder.user %></span>
  </div>
  <div>
    <span class="visibility-label"><%= t("blacklight/folders/folder.visibility", scope: "helpers.label") %>:</span> <span class="visibility"><%= human_friendly_visibility(@folder.visibility) %></span>
  </div>

  <%= render 'tools' %>

  <div id="documents">
    <%= render partial: 'folder_item', collection: @folder.items, locals: { docs: @folder.documents } %>
  </div>
</div>
