<p id="notice"><%= notice %></p>

<h1> <%= @folder.name %> </h1>

<p> Visibility: <%= @folder.visibility %> </p>
<p> Contents: </p>

<% docs = @folder.documents %>
<ol>
  <% @folder.items.each_with_index do |item, i| %>
    <li>
      <% doc = docs[i] %>
      <% link_title = doc[document_show_link_field(doc).to_s] %>
      <%= link_to link_title, main_app.catalog_path(doc['id']) %>
      <%= button_to 'Remove', folder_item_path(item), method: :delete %>
    </li>
  <% end %>
</ol>

<%= link_to 'Edit Folder', edit_folder_path(@folder) %>
<%= button_to 'Delete this Folder', folder_path(@folder), method: :delete, data: { confirm: "Are you sure you want to delete this folder?" } %>
