<p id="notice"><%= notice %></p>

<h1> <%= @folder.name %> </h1>

<p> Visibility: <%= @folder.visibility %> </p>
<p> Contents: </p>

<ol>
  <% @folder.items.each do |item| %>
    <li>
      <%= item.document_id.to_s %>
      &nbsp;
      <span>
      <%= button_to 'Remove', folder_item_path(item), method: :delete %>
      </span>
    </li>
  <% end %>
</ol>

<%= link_to 'Edit Folder', edit_folder_path(@folder) %>
