<div class="folder-view">
  <p id="notice"><%= notice %></p>

  <h1> <%= @folder.name %> </h1>
  <p> Visibility: <%= @folder.visibility %> </p>

  <div class="form-actions">
    <div class="primary-actions">
      <%= link_to 'Edit Folder', edit_folder_path(@folder) %>
      <%= button_to 'Delete this Folder', folder_path(@folder), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this folder and all its contents?" } %>
     </div>
  </div>

  <h3> Contents: </h3>

  <div id="documents">
    <%= render partial: 'folder_item', collection: @folder.items, locals: { docs: @folder.documents } %>
  </div>
</div>
